@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


h1,
h2,
h3,
p,
li {
  font-family: "Vollkorn", serif;
  margin-bottom: 0, 5em;
  line-height: 2em;
  font-weight: 200;
}

h3 {
  font-size: 20px;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
}


  

.buttons {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}



.button-link {
  background: transparent;
  border: white 2px solid;
  padding: 10px;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 5px 5px 1px 1px white;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  color: white;
  margin: 20px 0;
  flex-basis: 100%;
  cursor: pointer;
}

.button-description {
  margin: 0;
  text-wrap: nowrap;
  color: white; 
  max-width: 110px;
  margin-right: 10px;
}

.button-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 0;
  padding: 0;
  justify-content: start;
  align-items: center;
  font-family: "Vollkorn", serif;
}

.socials-group {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: "Vollkorn", serif;
}

.main-carousel {
  margin: 10px auto;
}

.flickity-viewport {
  margin: 10px auto;
  height: 510px !important;
}

.carousel-cell {
  height: 500px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.flickity-page-dots .dot {
  background-color: white !important;
}

.flickity-button-icon {
  color: rgb(227, 140, 180);
}

.carousel-cell img {
  height: 490px !important;
  margin: 0;
  /* height: 100%; */
}


.flickity-slider {
  margin-top: 0;
}

.image {
  width: 128px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.author-image {
  max-width: 300px;
  margin: 0;
  padding: 10px;
  padding-bottom: 30px;
  margin: auto;
  /* background-image: url(background.JPG);
  filter: opacity(70); */
}

.socials {
  /* text-overflow: ellipsis;
  overflow: hidden; */
  margin: 0;
  height: 50px;
  line-height: 50px;  
  flex-direction: row;
  display: flex;
  align-items: center;
  min-width: 90px;
  width: auto;
  color: white;
  padding-right: 10px;
}

.socials img {
  height: 32px;
  margin-right: 10px;
}

.description {
  max-width: 500px;
  margin: 0;
  padding: 10px;
}

.header {
  max-width: 820px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0;
  align-items: center;
}

.footer {
  max-width: 820px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 0;
  justify-content: start;
}

h3 {
  font-family: "Vollkorn", serif;
  font-weight: 200;
}


h1 {
  font-family: "Vollkorn", serif;
  /* color: white;
  background: url(background.JPG) 0 0 / cover no-repeat; */
  color: white ;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 10px;
  /* color: white; */ 
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

body {
  /* background-image: url("./background.JPG"); */
  background-color: rgb(227, 140, 180);
}

p {
  font-size: 19px;
  margin-top: 0;
  color: white;
}

a {
  color: white;
}

@media only screen and (min-width: 600px) {
  div {
    width: 90vw;
    margin: 5em 15vw;
  }
}

.text {
  margin: 0;
  line-height: 2em;
}


span {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  div {
    max-width: 90vw;
    margin: 5em auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  div {
    max-width: 90vw;
    margin: 5em auto;
  }

  .description {
    max-width: 90vw;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  div {
    max-width: 80vw;
    margin: 5em auto;
  }

  .description {
    max-width: 90vw;
    margin: auto;
  }

  .socials-group {
    flex-direction: column;
  }
}

@media print {
  .homelink {
    display: none;
  }
}
